@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

[data-themes="dark"] {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.bg__gradiant {
  background-image: linear-gradient(
    to right top,
    #233329,
    #2c4f38,
    #356c47,
    #408a55,
    #4da962,
    #3ba76c,
    #25a475,
    #00a17d,
    #007974,
    #00525c,
    #0c2e39,
    #070c10
  );
}
